.bg-color-success {
  background-color: #FFEFB6;
}
.bg-color-error {
  background-color: #D9D8F0;
}

.bg-color-warning {
  background-color: #EDEDED;
}

.your-message-card {
  padding: 15px !important;
}

.cart-top-margin {
  margin-top: 15px;
}

.margin-top-40 {
  margin-top: 40px;
}