.share-buttons-item .share-icon {
  cursor: pointer !important;
  font-size: 200% !important;
}

.share-buttons-item a {
  cursor: pointer !important;
}

.trigger-container {
  display: inline-flex;
  margin-top: 20px;
}