body {
  color: #565D64 !important;
  margin: 0 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  line-height: 20px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}


h1 {
  font-family: 'Vollkorn', serif !important;
  color: #333;
  font-size: 26px !important;
  line-height: 34px !important;
}

h2 {
  font-family: 'Vollkorn', serif;
  color: #333;
  font-size: 22px !important;
}

h3 {
  font-family: 'Open Sans' !important;
  font-size: 16px !important;
  line-height: 18px;
  color: #3E049D;
  font-weight: bold !important;
}

.middle-text {
  text-align: center;
  vertical-align: middle;
}

.fact-header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #3E049D;
}

.fact-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #3E049D !important;
}

.lead {
  font-family: 'Open Sans', sans-serif;
  color: #565D64;
  font-size: 16px !important;
}


.center {
  margin: auto;
}

.polygon {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100vw !important;
  flex-shrink: 0;
  clip-path: polygon(100% calc(0% + 8vw), 100% 100%, 0 calc(100% - 8vw), 0 0);
  -webkit-clip-path: polygon(100% calc(0% + 8vw), 100% 100%, 0 calc(100% - 8vw), 0 0);
  padding-top: 13%;
  padding-bottom: 13%;
}

@media (max-width: 768px) {
  .submit-btn {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .polygon {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 99vw !important;
    flex-shrink: 0;
    clip-path: polygon(100% calc(0% + 4vw), 100% 100%, 0 calc(100% - 4vw), 0 0);
    -webkit-clip-path: polygon(100% calc(0% + 4vw), 100% 100%, 0 calc(100% - 4vw), 0 0);
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .circle-icon {
    background: #D9D8F0;
    padding: 10px;
    border-radius: 50%;
    margin-top: -10% !important;
  }
}

.circle-icon {
  background: #D9D8F0;
  padding: 10px;
  border-radius: 50%;
  margin-top: -50%;
}

.background-color-1 {
  background-color: #D9D8F0;
}

.background-color-2 {
  background-color: #FFEFB6;
}

/*Bootstrap overwrites*/
.btn {
  font-size: 14px !important;
}

.btn-primary {
  background-color: #3E049D !important;
}

.btn-secondary {
  color: black !important;
  background-color: #FFEFB6 !important;
  border-color: #FFEFB6 !important;
}

button:disabled {
  background-color: gray !important;
  border-color: gray !important;
}

.material-icons {
  font-size: 400% !important;
  color: #3E049D;
  /* Preferred icon size */
}

/*Logo Carousel for mobile and Logo wall for desktop*/
.carousel-item {
  height: 150px !important;
}

.carousel-img {
  max-width: 100% !important;
}

.logo-wall {
  padding: 20px;
  height: 90px; 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: .6;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

.logo-wall:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

.img-container {
  height: 150px !important;
}

.carousel-indicators li {
  background-color: #3E049D !important;
}

.card-header {
  background-color: #FFEFB6 !important;
}

.nav-link {
  font-size: 16px !important;
  color: #333 !important;
}

.no-bullets li {
  list-style-type: none;
}

.purple {
  color: #3E049D !important;
}

.yellow {
  color: #F7CC36;
  font-size: 800% !important;
}