body {
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


h1 {
  font-family: 'Vollkorn', serif !important;
  color: #333;
  font-size: 26px !important;
}

h2 {
  font-family: 'Vollkorn', serif;
  color: #333;
  font-size: 22px !important;
}

h3 {
  font-family: 'Open Sans'!important;
  font-size: 16px !important;
  line-height: 18px;
  color: #333;
  font-weight: bold !important;
}

.middle-text {
  text-align: center;
  vertical-align: middle;
}

.fact-header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #3E049D;
}

.fact-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #3E049D !important; 
}

.lead {
  font-family: 'Open Sans', sans-serif;
  color: #565D64;
}


.center {
  margin: auto;
}

/*Hier werden die schrägen Elemente generiert*/

/*Negative Steigung*/
.polygon {
  width: 100vw !important;
  flex-shrink: 0;
  clip-path: polygon(100% calc(0% + 6vw), 100% 100%, 0 calc(100% - 6vw), 0 0);
  -webkit-clip-path: polygon(100% calc(0% + 6vw), 100% 100%, 0 calc(100% - 6vw), 0 0);
  margin-top: -2vw;
  padding: 10%;
}

.background-color-1 {
  background-color: #D9D8F0;
}

.background-color-2 {
  background-color: #FFEFB6;
}

/*Bootstrap overwrites*/
.btn-primary {
  background-color: #3E049D !important;
}

.btn-secondary {
  color: black !important;
  background-color: #FFEFB6 !important;
}

.material-icons {
  font-size: 400% !important;
  /* Preferred icon size */
}

.carousel-item .w-100 {
  height: 150px !important;  
  width: auto !important;
}
