
.arrow {
    position: absolute;
    width: 118px;
    height: 117px;
    left: 121px;
    top: 134px;

    background: url(kisspng-stock-market-market-trend-ripple-stock-market-5ac5e709ef1aa7.png);
}